
*.DS_Store
*.bak
*.bcf
*.xml
*.tdo
*.synctex.gz
*_with_colors.tex

*.m~

*.fig

*_extras.tex

*.avi

*.zip

*.nav
*.snm


/figures/old/
/figures/fig_format/
/figures/eps_format/
/figures/pdf_format/
/figures/*eps-converted-to.pdf
